
/Intermediate
/DerivedDataCache
/Binaries
/Saved
/Build
/Intermediate/Build/Win64/x64/BlindspotsEditor/Development/UnrealEd/SharedPCH.UnrealEd.Project.ValApi.Cpp20.InclOrderOldest.h.pch
/Intermediate/Build/Win64/x64/BlindspotsEditor/DebugGame/UnrealEd/SharedPCH.UnrealEd.Project.NonOptimized.ValApi.Cpp20.InclOrderOldest.h.pch
/Binaries/Win64/UnrealEditor-Blindspots-2760.pdb
/Intermediate/Build/Win64/x64/BlindspotsEditor/Development/UnrealEd/SharedPCH.UnrealEd.Project.ValApi.Cpp20.InclOrderOldest.h.obj

.vsconfig
/.vscode
/.vs
*.vc.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.pdb
*.obj
*.pch
*.xcodeproj
*.xcworkspace
